{{>header}}

{{#book}}
    <h1>Informaci&oacute;n libro</h1>
    <table>
        <tr>
            <th>T&iacute;tulo:</th>
            <td>{{title}}</td>
        </tr>
        <tr>
            <th>Autor:</th>
            <td>{{author}}</td>
        </tr>
        <tr>
            <th>Resumen:</th>
            <td>{{summary}}</td>
        </tr>
        <tr>
            <th>Editorial:</th>
            <td>{{publishingHouse}}</td>
        </tr>
        <tr>
            <th>A&ntilde;o publicaci&oacute;n:</th>
            <td>{{publishYear}}</td>
        </tr>
    </table>
    <br/>

    <h1>Comentarios</h1>
    <section>
        {{^book.comments}}
            <p>AÚN NO HAY COMENTARIOS</p>
        {{/book.comments}}

        {{#book.comments}}
            <p>COMENTARIO</p>
            <table>
                <tr>
                    <th>Autor:</th>
                    <td>{{author}}</td>
                </tr>
                <tr>
                    <th>Puntuaci&oacute;n:</th>
                    <td>{{score}}</td>
                </tr>
                <tr>
                    <th>Comentario:</th>
                    <td>{{commentary}}</td>
                </tr>
                <tr>
                    <th colspan="2" align="left">
                        <a href="/web/book/{{bookId}}/comments/{{id}}">Borrar</a></th>
                </tr>
            </table>
            <br/>
        {{/book.comments}}
    </section>

    <h2>Añadir comentario</h2>
    <form method="post" action="/web/books/{{book.id}}/comments">
        <p>Rellene los siguientes campos:</p>

        <table>
            <tr>
                <td><label for="authorId">Autor:</label>
                </td>

                {{#userName}}
                  <td><input type="text" id="authorId" name="author" value="{{userName}}"/></td>
                {{/userName}}

                {{^userName}}
                <td><input type="text" id="authorId" name="author" value=""/></td>
                {{/userName}}
            </tr>
            <tr>
                <td><label for="scoreId">Puntuaci&oacute;n</label></td>
                <td>
                    <select id="scoreId" name="score" >
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="commentId">Comentario:</label></td>
                <td>
                    <textarea id="commentId" name="commentary" rows="4" cols="30" value="">
                    </textarea>
                </td>
            </tr>
        </table>

        <input type="submit" value="Guardar"/>
    </form>
{{/book}}

<br/>
<a href="/web/books">Back</a>
{{>footer}}